<!DOCTYPE html>
<html lang="english"
  ><head
    ><title>exported project</title
    ><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link href="./index.css" rel="stylesheet" /><div class="home-container"
        ><div class="home-home"
          ><span class="home-text"><span>sigma-chess.org</span></span
          ><button class="home-frame2button"
            ><span class="home-text02"><span>играть</span></span
            ><span class="home-text04"><span>задачи</span></span
            ><span class="home-text06"><span>мастерская</span></span
            ><span class="home-text08"><span>смотреть</span></span
            ><span class="home-text10"><span>сообщество</span></span
            ><span class="home-text12"><span>инструменты</span></span></button
          ><span class="home-text14"><span>DangerCats</span></span
          ><span class="home-text16"><span>40,000</span></span
          ><div class="home-group23"
            ><span class="home-text18"
              ><span>Puzzel of the Day</span></span
            ></div
          ><span class="home-text20"><span>20,000</span></span
          ><span class="home-text22"><span>players</span></span
          ><span class="home-text24"><span>Быстрый поиск</span></span
          ><span class="home-text26"><span>лобби</span></span
          ><span class="home-text28"><span>игра по переписке</span></span
          ><span class="home-text30"><span>games in play</span></span
          ><button class="home-iconsocialnotifications24pxbutton"
            ><img
              src="public/external/iconsocialnotifications24pxi331-c6we.svg"
              alt="iconsocialnotifications24pxI331"
              class="home-iconsocialnotifications24px" /></button
          ><button class="home-iconcommunicationswordbutton"
            ><div class="home-group3"
              ><div class="home-group2"
                ><img
                  src="public/external/vectori331-i3wb.svg"
                  alt="VectorI331"
                  class="home-vector" /><img
                  src="public/external/vectori331-zn1.svg"
                  alt="VectorI331"
                  class="home-vector01" /><img
                  src="public/external/vectori331-06ed.svg"
                  alt="VectorI331"
                  class="home-vector02" /><img
                  src="public/external/vectori331-scrn.svg"
                  alt="VectorI331"
                  class="home-vector03" /><img
                  src="public/external/vectori331-70g.svg"
                  alt="VectorI331"
                  class="home-vector04" /><img
                  src="public/external/vectori331-8fnk.svg"
                  alt="VectorI331"
                  class="home-vector05" /><img
                  src="public/external/vectori331-vopb.svg"
                  alt="VectorI331"
                  class="home-vector06" /><img
                  src="public/external/vectori331-228u.svg"
                  alt="VectorI331"
                  class="home-vector07" /><img
                  src="public/external/vectori331-pfmu.svg"
                  alt="VectorI331"
                  class="home-vector08" /><img
                  src="public/external/vectori331-yblx.svg"
                  alt="VectorI331"
                  class="home-vector09" /><img
                  src="public/external/vectori331-ahv7.svg"
                  alt="VectorI331"
                  class="home-vector10" /><img
                  src="public/external/vectori331-hiusp.svg"
                  alt="VectorI331"
                  class="home-vector11" /><img
                  src="public/external/vectori331-kjng.svg"
                  alt="VectorI331"
                  class="home-vector12" /><img
                  src="public/external/vectori331-chbl.svg"
                  alt="VectorI331"
                  class="home-vector13" /><img
                  src="public/external/vectori331-8eqt.svg"
                  alt="VectorI331"
                  class="home-vector14" /><img
                  src="public/external/vectori331-3eyl.svg"
                  alt="VectorI331"
                  class="home-vector15" /><img
                  src="public/external/vectori331-69f.svg"
                  alt="VectorI331"
                  class="home-vector16" /><img
                  src="public/external/vectori331-w6nf.svg"
                  alt="VectorI331"
                  class="home-vector17" /></div
              ><div class="home-group1"
                ><img
                  src="public/external/vectori331-c0bk.svg"
                  alt="VectorI331"
                  class="home-vector18" /><img
                  src="public/external/vectori331-3cm8.svg"
                  alt="VectorI331"
                  class="home-vector19" /><img
                  src="public/external/vectori331-umvb.svg"
                  alt="VectorI331"
                  class="home-vector20" /><img
                  src="public/external/vectori331-rpc.svg"
                  alt="VectorI331"
                  class="home-vector21" /><img
                  src="public/external/vectori331-k0q9.svg"
                  alt="VectorI331"
                  class="home-vector22" /><img
                  src="public/external/vectori331-3kh.svg"
                  alt="VectorI331"
                  class="home-vector23" /><img
                  src="public/external/vectori331-i6ge.svg"
                  alt="VectorI331"
                  class="home-vector24" /><img
                  src="public/external/vectori331-0kz.svg"
                  alt="VectorI331"
                  class="home-vector25" /><img
                  src="public/external/vectori331-f71o.svg"
                  alt="VectorI331"
                  class="home-vector26" /><img
                  src="public/external/vectori331-1oj5.svg"
                  alt="VectorI331"
                  class="home-vector27" /><img
                  src="public/external/vectori331-z14.svg"
                  alt="VectorI331"
                  class="home-vector28" /><img
                  src="public/external/vectori331-vm5q.svg"
                  alt="VectorI331"
                  class="home-vector29" /><img
                  src="public/external/vectori331-hdre.svg"
                  alt="VectorI331"
                  class="home-vector30" /><img
                  src="public/external/vectori331-g8.svg"
                  alt="VectorI331"
                  class="home-vector31" /><img
                  src="public/external/vectori331-8vq.svg"
                  alt="VectorI331"
                  class="home-vector32" /><img
                  src="public/external/vectori331-4y7q.svg"
                  alt="VectorI331"
                  class="home-vector33" /><img
                  src="public/external/vectori331-k2qd.svg"
                  alt="VectorI331"
                  class="home-vector34" /><img
                  src="public/external/vectori331-fnf.svg"
                  alt="VectorI331"
                  class="home-vector35" /><img
                  src="public/external/vectori331-onfd.svg"
                  alt="VectorI331"
                  class="home-vector36" /><img
                  src="public/external/vectori331-a1i.svg"
                  alt="VectorI331"
                  class="home-vector37" /></div></div></button
          ><button class="home-iconactionsearch24pxbutton"
            ><img
              src="public/external/iconactionsearch24pxi331-znhj.svg"
              alt="iconactionsearch24pxI331"
              class="home-iconactionsearch24px" /></button
          ><div class="home-group4"
            ><img
              src="public/external/logo1123543-z86s-600h.png"
              alt="logo1123543"
              class="home-logo112" /></div
          ><div class="home-quick-pairing-card"
            ><img
              src="public/external/rectangle4i332-c4mfj-200h.png"
              alt="Rectangle4I332"
              class="home-rectangle4"
            /><div class="home-frame3"
              ><span class="home-text32"><span>1+0</span></span></div
            ><div class="home-frame4"
              ><span class="home-text34"><span>Bullet</span></span></div
            ></div
          ><div class="home-quick-pairing-card01"
            ><img
              src="public/external/rectangle4i332-oi5i-200h.png"
              alt="Rectangle4I332"
            /><div class="home-frame301"
              ><span class="home-text36"><span>3+2</span></span></div
            ><div class="home-frame401"
              ><span class="home-text38"><span>Blitz</span></span></div
            ></div
          ><div class="home-quick-pairing-card02"
            ><img
              src="public/external/rectangle4i332-x54v-200h.png"
              alt="Rectangle4I332"
            /><div class="home-frame302"
              ><span class="home-text40"><span>10+0</span></span></div
            ><div class="home-frame402"
              ><span class="home-text42"><span>Rapid</span></span></div
            ></div
          ><div class="home-quick-pairing-card03"
            ><img
              src="public/external/rectangle4i332-6pe9-200h.png"
              alt="Rectangle4I332"
            /><div class="home-frame303"
              ><span class="home-text44"><span>30+0</span></span></div
            ><div class="home-frame403"
              ><span class="home-text46"><span>Classical</span></span></div
            ></div
          ><div class="home-quick-pairing-card04"
            ><img
              src="public/external/rectangle4i332-so8-200h.png"
              alt="Rectangle4I332"
            /><div class="home-frame304"
              ><span class="home-text48"><span>2+1</span></span></div
            ><div class="home-frame404"
              ><span class="home-text50"><span>Bullet</span></span></div
            ></div
          ><div class="home-quick-pairing-card05"
            ><img
              src="public/external/rectangle4i332-b27y-200h.png"
              alt="Rectangle4I332"
              class="home-rectangle405"
            /><div class="home-frame305"
              ><span class="home-text52"><span>5+0</span></span></div
            ><div class="home-frame405"
              ><span class="home-text54"><span>Blitz</span></span></div
            ></div
          ><div class="home-quick-pairing-card06"
            ><img
              src="public/external/rectangle4i332-xg6g-200h.png"
              alt="Rectangle4I332"
              class="home-rectangle406"
            /><div class="home-frame306"
              ><span class="home-text56"><span>10+5</span></span></div
            ><div class="home-frame406"
              ><span class="home-text58"><span>Rapid</span></span></div
            ></div
          ><div class="home-quick-pairing-card07"
            ><img
              src="public/external/rectangle4i332-t9c-200h.png"
              alt="Rectangle4I332"
              class="home-rectangle407"
            /><div class="home-frame307"
              ><span class="home-text60"><span>30+20</span></span></div
            ><div class="home-frame407"
              ><span class="home-text62"><span>Classical</span></span></div
            ></div
          ><div class="home-quick-pairing-card08"
            ><img
              src="public/external/rectangle4i332-mj9-200h.png"
              alt="Rectangle4I332"
              class="home-rectangle408"
            /><div class="home-frame308"
              ><span class="home-text64"><span>3+0</span></span></div
            ><div class="home-frame408"
              ><span class="home-text66"><span>Blitz</span></span></div
            ></div
          ><div class="home-quick-pairing-card09"
            ><img
              src="public/external/rectangle4i332-m8g8-200h.png"
              alt="Rectangle4I332"
              class="home-rectangle409"
            /><div class="home-frame309"
              ><span class="home-text68"><span>5+3</span></span></div
            ><div class="home-frame409"
              ><span class="home-text70"><span>Blitz</span></span></div
            ></div
          ><div class="home-quick-pairing-card10"
            ><img
              src="public/external/rectangle4i333-86vl-200h.png"
              alt="Rectangle4I333"
              class="home-rectangle410"
            /><div class="home-frame310"
              ><span class="home-text72"><span>15+10</span></span></div
            ><div class="home-frame410"
              ><span class="home-text74"><span>Rapid</span></span></div
            ></div
          ><button class="home-quick-pairing-cardbutton"
            ><img
              src="public/external/rectangle43332-timh-200h.png"
              alt="Rectangle43332"
            /><span class="home-text76"><span>Custom</span></span></button
          ><button class="home-frame5button"
            ><span class="home-text78">сыграть с компьютером</span></button
          ><button class="home-frame6button"
            ><span class="home-text79">сыграть с другом</span></button
          ><button class="home-frame7button"
            ><span class="home-text80">создать игру</span></button
          ><div class="home-group26"
            ><img
              src="public/external/rectangle383341-kqq9.svg"
              alt="Rectangle383341"
              class="home-rectangle38" /><img
              src="public/external/rectangle393342-fuc1-200h.png"
              alt="Rectangle393342"
              class="home-rectangle39" /></div
          ><img
            src="public/external/rectangle223343-u854-200h.png"
            alt="Rectangle223343"
            class="home-rectangle22" /><img
            src="public/external/rectangle233344-8qdm-200h.png"
            alt="Rectangle233344"
            class="home-rectangle23" /><div class="home-group24button"
            ><img
              src="public/external/rectangle383346-uama-200h.png"
              alt="Rectangle383346"
              class="home-rectangle381" /><img
              src="public/external/rectangle423347-u19n-200h.png"
              alt="Rectangle423347"
              class="home-rectangle42" /><img
              src="public/external/rectangle473348-gy2-200h.png"
              alt="Rectangle473348"
              class="home-rectangle47" /><img
              src="public/external/rectangle523349-tfl-200h.png"
              alt="Rectangle523349"
              class="home-rectangle52" /><img
              src="public/external/rectangle393350-dsz-200h.png"
              alt="Rectangle393350"
              class="home-rectangle391" /><img
              src="public/external/rectangle433351-1aev-200h.png"
              alt="Rectangle433351"
              class="home-rectangle43" /><img
              src="public/external/rectangle483352-5vn8-200h.png"
              alt="Rectangle483352"
              class="home-rectangle48" /><img
              src="public/external/rectangle533353-8cbl-200h.png"
              alt="Rectangle533353"
              class="home-rectangle53" /><div class="home-group12"
              ><img
                src="public/external/rectangle343355-zeee-200h.png"
                alt="Rectangle343355"
                class="home-rectangle34" /><img
                src="public/external/rectangle373356-dnuhh-200h.png"
                alt="Rectangle373356"
                class="home-rectangle37" /><img
                src="public/external/rectangle353357-2stb-200h.png"
                alt="Rectangle353357"
                class="home-rectangle35" /></div
            ><div class="home-group13"
              ><img
                src="public/external/rectangle343359-x8fq-200h.png"
                alt="Rectangle343359"
                class="home-rectangle341" /><img
                src="public/external/rectangle373360-48ga-200h.png"
                alt="Rectangle373360"
                class="home-rectangle371" /><img
                src="public/external/rectangle353361-qtoe-200h.png"
                alt="Rectangle353361"
                class="home-rectangle351" /></div
            ><div class="home-group14"
              ><img
                src="public/external/rectangle343363-itgs-200h.png"
                alt="Rectangle343363"
                class="home-rectangle342" /><img
                src="public/external/rectangle373364-wplp-200h.png"
                alt="Rectangle373364"
                class="home-rectangle372" /><img
                src="public/external/rectangle353365-p9tt-200h.png"
                alt="Rectangle353365"
                class="home-rectangle352" /></div
            ><div class="home-group15"
              ><img
                src="public/external/rectangle343367-ii79-200h.png"
                alt="Rectangle343367"
                class="home-rectangle343" /><img
                src="public/external/rectangle373368-rkb-200h.png"
                alt="Rectangle373368"
                class="home-rectangle373" /><img
                src="public/external/rectangle353369-slyn-200h.png"
                alt="Rectangle353369"
                class="home-rectangle353" /></div
            ><img
              src="public/external/rectangle403370-3o5t-200h.png"
              alt="Rectangle403370"
              class="home-rectangle40" /><img
              src="public/external/rectangle443371-fyy9-200h.png"
              alt="Rectangle443371"
              class="home-rectangle44" /><img
              src="public/external/rectangle493372-pd1s-200h.png"
              alt="Rectangle493372"
              class="home-rectangle49" /><img
              src="public/external/rectangle543373-0hke-200h.png"
              alt="Rectangle543373"
              class="home-rectangle54" /><img
              src="public/external/rectangle363374-vmz-200h.png"
              alt="Rectangle363374"
              class="home-rectangle36" /><img
              src="public/external/rectangle453375-9ki6-200h.png"
              alt="Rectangle453375"
              class="home-rectangle45" /><img
              src="public/external/rectangle503376-mro-200h.png"
              alt="Rectangle503376"
              class="home-rectangle50" /><img
              src="public/external/rectangle553377-v5jl-200h.png"
              alt="Rectangle553377"
              class="home-rectangle55" /><img
              src="public/external/rectangle413378-w9ol-200h.png"
              alt="Rectangle413378"
              class="home-rectangle41" /><img
              src="public/external/rectangle383379-q1r5-200h.png"
              alt="Rectangle383379"
              class="home-rectangle382" /><img
              src="public/external/rectangle403380-qtft-200h.png"
              alt="Rectangle403380"
              class="home-rectangle401" /><img
              src="public/external/rectangle393381-7x48-200h.png"
              alt="Rectangle393381"
              class="home-rectangle392" /><img
              src="public/external/rectangle413382-6pke-200h.png"
              alt="Rectangle413382"
              class="home-rectangle411" /><img
              src="public/external/rectangle573383-4xg-200h.png"
              alt="Rectangle573383"
              class="home-rectangle57" /><img
              src="public/external/rectangle593384-60s-200h.png"
              alt="Rectangle593384"
              class="home-rectangle59" /><img
              src="public/external/rectangle583385-gcj-200h.png"
              alt="Rectangle583385"
              class="home-rectangle58" /><img
              src="public/external/rectangle603386-owe-200h.png"
              alt="Rectangle603386"
              class="home-rectangle60" /><img
              src="public/external/rectangle383387-2bw-200h.png"
              alt="Rectangle383387"
              class="home-rectangle383" /><img
              src="public/external/rectangle403388-me3d9-200h.png"
              alt="Rectangle403388"
              class="home-rectangle402" /><img
              src="public/external/rectangle393389-zyb-200h.png"
              alt="Rectangle393389"
              class="home-rectangle393" /><img
              src="public/external/rectangle413390-ynuq-200h.png"
              alt="Rectangle413390"
              class="home-rectangle412" /><img
              src="public/external/rectangle573391-vf-200h.png"
              alt="Rectangle573391"
              class="home-rectangle571" /><img
              src="public/external/rectangle593392-65bp-200h.png"
              alt="Rectangle593392"
              class="home-rectangle591" /><img
              src="public/external/rectangle583393-agps-200h.png"
              alt="Rectangle583393"
              class="home-rectangle581" /><img
              src="public/external/rectangle603394-zz1-200h.png"
              alt="Rectangle603394"
              class="home-rectangle601" /><img
              src="public/external/rectangle383395-urs8-200h.png"
              alt="Rectangle383395"
              class="home-rectangle384" /><img
              src="public/external/rectangle403396-t8ql-200h.png"
              alt="Rectangle403396"
              class="home-rectangle403" /><img
              src="public/external/rectangle393397-p11i-200h.png"
              alt="Rectangle393397"
              class="home-rectangle394" /><img
              src="public/external/rectangle413398-exv-200h.png"
              alt="Rectangle413398"
              class="home-rectangle413" /><img
              src="public/external/rectangle573399-hmw-200h.png"
              alt="Rectangle573399"
              class="home-rectangle572" /><img
              src="public/external/rectangle593400-zbrj-200h.png"
              alt="Rectangle593400"
              class="home-rectangle592" /><img
              src="public/external/rectangle583401-u2ub-200h.png"
              alt="Rectangle583401"
              class="home-rectangle582" /><img
              src="public/external/rectangle603402-eia-200h.png"
              alt="Rectangle603402"
              class="home-rectangle602" /><div class="home-group20"
              ><div class="home-group19"
                ><img
                  src="public/external/rectangle383405-pe6-200h.png"
                  alt="Rectangle383405"
                  class="home-rectangle385" /><img
                  src="public/external/rectangle403406-5b2v-200h.png"
                  alt="Rectangle403406"
                  class="home-rectangle404" /><img
                  src="public/external/rectangle393407-6e4l-200h.png"
                  alt="Rectangle393407"
                  class="home-rectangle395" /><img
                  src="public/external/rectangle413408-8kde-200h.png"
                  alt="Rectangle413408"
                  class="home-rectangle414" /><img
                  src="public/external/rectangle573409-lp0o-200h.png"
                  alt="Rectangle573409"
                  class="home-rectangle573" /><img
                  src="public/external/rectangle593410-ptx7-200h.png"
                  alt="Rectangle593410"
                  class="home-rectangle593" /><img
                  src="public/external/rectangle583411-1rol-200h.png"
                  alt="Rectangle583411"
                  class="home-rectangle583" /><img
                  src="public/external/rectangle603412-nswq-200h.png"
                  alt="Rectangle603412"
                  class="home-rectangle603" /></div></div
            ><img
              src="public/external/rectangle463413-mvij-200h.png"
              alt="Rectangle463413"
              class="home-rectangle46" /><img
              src="public/external/rectangle513414-vsfg-200h.png"
              alt="Rectangle513414"
              class="home-rectangle51" /><img
              src="public/external/rectangle563415-aki-200h.png"
              alt="Rectangle563415"
              class="home-rectangle56" /></div></div></div
    ></div> </body
></html>
