<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}" />
    <title>Profile</title>
</head>
<body>
    <div class="header">
        <div class="profile">
            <button class="profbtn">Dropdown</button>
            <div class="profile-content">
                <a href="/auth"><h4>Профиль</h4></a>
                <a href="/"><h4>Главная</h4></a>
                <a href="/new-game"><h4>Новая игра</h4></a>
                <a href="#"><h4>Телергам</h4></a>
                <a href="#"><h4>Выйти</h4></a>
            </div>
        </div>
    </div>
</body>
</html>